{% for item in webappData.data.content -%}
	<li class="col-md-3 col-sm-4 col-xs-6">
    <div class="certlogo">
    {% if {{this.custom_field_2}} != "" -%}<a href="{{item.properties.custom_field_2}}" target="_blank">{% endif -%}
        <img src="{{item.properties.custom_field_1}}" alt="{{item.properties.name}}">
    {% if {{this.custom_field_2}} != "" -%}</a>{% endif -%}
    </div>    
</li>
{% endfor -%}