{%- capture 'siteglideMeta' -%}Services - Your website your business||4{%- endcapture -%}
<link rel="stylesheet" href="{{'css/features/16.min.css' | asset_url}}">
<section id="" class="features16 backgroundLight fdb-block sectionPaddingTop">
	<div class="container">
		<link rel="stylesheet" href="{{ 'css/webapps/webapp_title/1.min.css' | asset_url }}">
		<img src="{{'images/fido/paw.svg' | asset_url}}" alt="fido paw" class="d-block m-auto">
		<div id="webappTitle1" class="row sectionPaddingBottom align_center">
			<link href="{{'css/webapps/webapp_title/1.min.css' | asset_url}}" type="text/css" rel="stylesheet">
			<div class=" contentCenter">
				<h2>Your website is your business</h2>
				<h5>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however
					a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</h5>
			</div>
		</div>
		<div class="row  text-right">
			<div class="col-12 col-md-6 col-lg-7 flex-grow-1 d-flex align-items-stretch">
				<div class="flex-column d-flex w-100 featuresStretchImageContainer" title="website-monitor" style="background: url('{{ 'images/fido/AdobeStock_77959657.png' | asset_url }}') no-repeat center;">
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-5 col-xl-5 text-left">
				<div class="columnPadding" style="height: auto;">
					<h4 class="">Feature One</h4>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic
						country, in which roasted parts of sentences.</p>
				</div>
				<div class="columnPadding" style="height: auto;">
					<h4 class="">Feature Two</h4>
					<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove,
						there live the blind texts.</p>
				</div>
				<div class="columnPadding" style="height: auto;">
					<h4 class="">Feature Three</h4>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however
						a small line of blind text by the name of Lorem Ipsum.</p>
				</div>
			</div>
		</div>
	</div>
</section>