{%- capture 'siteglideMeta' -%}Services - And there's more||5{%- endcapture -%}
<link rel="stylesheet" href="{{'css/features/30.min.css' | asset_url}}">
<section id="" class="sectionPadding features30 backgroundGrey">
	<div class="container">
		<link rel="stylesheet" href="{{ 'css/webapps/webapp_title/1.min.css' | asset_url }}">
		<div id="webappTitle1" class="row sectionPaddingBottom align_center">
			<div class="col contentCenter">
				<h2>And there's more!</h2>
			</div>
		</div>
		<div class="row rowCushionColumnPadding">
			<div class="fullHeightCol col-12 col-sm-6 col-md-3 columnPadding">
				<div class="contentContainer">
					<img class="iconClass" src="{{ 'images/fido/flag.svg' | asset_url }}"
					 alt="icon">
					<h4>Service 1</h4>
				</div>
				<p class="buttonContainer">
					<a class="btn buttonAccent " href="#">Learn more</a>
				</p>
			</div>

			<div class="fullHeightCol col-12 col-sm-6 col-md-3 columnPadding">
				<div class="contentContainer">
					<img class="iconClass" src="{{ 'images/fido/flag.svg' | asset_url }}"
					 alt="icon">
					<h4>Service 2</h4>
				</div>
				<p class="buttonContainer">
					<a class="btn buttonAccent " href="#">Learn more</a>
				</p>
			</div>

			<div class="fullHeightCol col-12 col-sm-6 col-md-3 columnPadding">
				<div class="contentContainer">
					<img class="iconClass" src="{{ 'images/fido/flag.svg' | asset_url }}"
					 alt="icon">
					<h4>Service 3</h4>
				</div>
				<p class="buttonContainer">
					<a class="btn buttonAccent " href="#">Learn more</a>
				</p>
			</div>

			<div class="fullHeightCol col-12 col-sm-6 col-md-3 columnPadding">
				<div class="contentContainer">
					<img class="iconClass" src="{{ 'images/fido/flag.svg' | asset_url }}"
					 alt="icon">
					<h4>Service 4</h4>
				</div>
				<p class="buttonContainer">
					<a class="btn buttonAccent " href="#">Learn more</a>
				</p>
			</div>
		</div>
	</div>
</section>