{%- capture 'siteglideMeta' -%}Homepage - Meet the team||8{%- endcapture -%}
<section id="contentSection28" style="background-image: url({{ 'images/fido/background-min.jpg' | asset_url }});"
 class="backgroundPrimary fdb-block sectionPaddingLarge">
<link rel="stylesheet" href="{{'css/includes/content_section/28.min.css' | asset_url}}">
	<div class="container">
		<div class="row ">
			<div class="col-12 col-md-6 col-lg-5 pt-5 pt-md-0 ">
				<div class="row">
					<div class="col-8 col-md-8">
						<img alt="meetings" class="img-fluid shadow2 topImage" src="{{ 'images/fido/AdobeStock_121800717.png' | asset_url }}">
					</div>
					<div class="col-4 col-md-4 smallerPanels">
						<div class="row">
							<div class="col-12">
								<img alt="discussion" class="img-fluid shadow2" src="{{ 'images/fido/AdobeStock_119052345.png' | asset_url }}">
							</div>
						</div>
						<div class="row mt-4">
							<div class="col-12">
								<img alt="typing content" class="img-fluid shadow2" src="{{ 'images/fido/AdobeStock_101558775.png' | asset_url }}">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-5 ml-auto pt-5 pt-md-0 columnMiddle columnCenter contentCenter">
				<h2>Meet the team</h2>
				<p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
			</div>
		</div>
	</div>
</section>