{% for item in webappData.data.content -%}
	<div class="item clearfix {% if item.counter == 1 -%}active{%endif-%}">
    <div class="before-block col-xs-6 text-right skewx">
        <div class="skewxin">
            <div class="btn-desc">BEFORE</div>
            <img src="<img src="{{item.properties.custom_field_1 | asset_url}}?Action=thumbnail&Width=435&Height=336&algorithm=fill_proportional" alt="{{item.properties.name}}" Before">
        </div>
    </div>
    <div class="after-block col-xs-6 skewx">
        <div class="skewxin">
            <div class="btn-desc">AFTER</div>
            <img src="<img src="{{item.properties.custom_field_2 | asset_url}}?Action=thumbnail&Width=435&Height=336&algorithm=fill_proportional" alt="{{item.properties.name}}" After">
        </div>
    </div>
    
    {% if item.custom_field_3 != '' -%} 
    <div class="b-and-a-description text-center clearfix">
        <h2>{{item.properties.custom_field_3}}</h2>
    </div>
    {% endif -%}
</div>
{% endfor -%}